<a href="https://colab.research.google.com/github/abood-W/ai_python/blob/main/food_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd

In [111]:
df = pd.read_csv('/content/onlinefoods.csv')

In [112]:
df.columns.values

array(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude',
       'longitude', 'Pin code', 'Output', 'Feedback', 'Unnamed: 12'],
      dtype=object)

In [113]:
#Data cleaning
df.drop('Unnamed: 12', axis=1, inplace=True)
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})
df['Marital Status'] =df['Marital Status'].map({'Single':0, 'Married':1,'Prefer not to say':2})
df['Occupation'] = df['Occupation'].str.strip()
df['Occupation'] = df['Occupation'].map({'Student':0, 'Employee':1,'Self Employeed':2 , 'Other':3})
df['Monthly Income'] =df['Monthly Income'].map({'No Income':0 ,'Below Rs.10000':1 ,'More than 50000':2, '10001 to 25000':3,
 '25001 to 50000':4})
df['Educational Qualifications'] =df['Educational Qualifications'].map({'Post Graduate':0, 'Graduate':1, 'Ph.D':2, 'Uneducated':3 ,'School':4})
df['Output'] = df['Output'].map({'No':0, 'Yes':1})
df['Feedback'] = df['Feedback'].str.strip()
df['Feedback'] = df['Feedback'].map({'Positive':1, 'Negative':0})
df_cleaned = df.dropna()

In [115]:
df_cleaned

[0 1 2 3 4]

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback
0,20,0,0,0.0,0,0,4,12.9766,77.5993,560001,1,1
1,24,0,0,0.0,1,1,3,12.9770,77.5773,560009,1,1
2,22,1,0,0.0,1,0,3,12.9551,77.6593,560017,1,0
3,22,0,0,0.0,0,1,6,12.9473,77.5616,560019,1,1
4,22,1,0,0.0,1,0,4,12.9850,77.5533,560010,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
383,23,0,0,0.0,0,0,2,12.9766,77.5993,560001,1,1
384,23,0,0,0.0,0,0,4,12.9854,77.7081,560048,1,1
385,22,0,0,0.0,0,0,5,12.9850,77.5533,560010,1,1
386,23,1,0,0.0,1,0,2,12.9770,77.5773,560009,1,1
387,23,1,0,0.0,0,0,5,12.8988,77.5764,560078,1,1